<%= form_with model:book,　local:true do |f| %>
  <%= render 'layouts/errors', obj: book %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, [["テキスト", "text"], ["小説", "novel"], ["漫画", "comic"], ["その他", "others"]], include_blank: "カテゴリ" %>
  </div>
  <div>
    <label>タグ</label>
    <%= f.text_field :name %>
  </div>

  <% if request.path.include?("edit") %>
    <div class="form-group row">
    <label class="col-md-3 col-form-label"> Rate</label>
    <span id="star<%= book.id %>"></span>
    </div>

    <script>
      $('#star<%= book.id %>').empty();
      $('#star<%= book.id %>').raty({
        size:36,
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        readOnly: true,
        score: <%= book.star %>,
        half: false,
      });
    </script>

  <% else %>
    <div class="form-group row">
      <%= f.label :star, 'Rate', class: 'col-md-3 col-form-label' %>
      <span id="star"><%= f.hidden_field :star, id: :review_star %></span>
    </div>

  <script>
    $('#star').empty();
    $('#star').raty({
      size:36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn: '<%= asset_path('star-on.png') %>',
      scoreName: 'book[star]',
      half: false,
    });
  </script>

  <% end %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>

<% end %>

